<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>Elm vs Yew</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="style/homepage.css" />
    <link rel="stylesheet" href="style/main.css" />
</head>
<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>

    <div class="homepage-wrapper">
        <div class="hero">
            <h1>Ciao!</h1>
        </div>

        <div class="interaction">
            <div class="card flex-1">
                <header class="card-header">
                    <p class="card-header-title">Elm</p>
                </header>
                <div class="card-content">
                    <div id="elm-root-wrapper">
                        <div id="elm-root"></div>
                    </div>
                </div>
            </div>
            
            <div class="card flex-1">
                <header class="card-header">
                    <p class="card-header-title">Yew</p>
                </header>
                <div class="card-content">
                    <div id="yew-root-wrapper">
                        <div id="yew-root"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#scripts}}
        <script src="{{.}}"></script>
    {{/scripts}}
</body>
</html>
