.homepage-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero {
  flex: 1;
  display: flex;
  justify-content: center;
}

.interaction {
  flex: 1;
  display: flex;
}

.interaction > div {
  -webkit-box-shadow: -2px 5px 15px -2px #000000;
  -moz-box-shadow: -2px 5px 15px -2px #000000;
  box-shadow: -2px 5px 15px -2px #000000;
}
