.homepage-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero {
  flex: 1;
  display: flex;
  justify-content: center;
}

.interaction {
  flex: 1;
  display: flex;
}

.flex-1 {
  flex: 1;
}
